*.opensdf
*.sdf
*.suo
build
ipch
*.aps
*.vcxproj.user

/ie_web_notifications/dlldata.c
/ie_web_notifications/ie_web_notifications_[ip].c
/ie_web_notifications/ie_web_notifications_i.h

/ie_web_notifications.toast/dlldata.c
/ie_web_notifications.toast/ie_web_notificationstoast_[ip].c
/ie_web_notifications.toast/ie_web_notificationstoast_i.h

/ie_web_notifications.d2d/dlldata.c
/ie_web_notifications.d2d/ie_web_notificationsd2d_[ip].c
/ie_web_notifications.d2d/ie_web_notificationsd2d_i.h
